*{padding: 0;
margin: 0;}

a{text-decoration: none;
color: #2E2F22;}

header{
    width: 100%;
    height: 581px;
    background: url(../img/header_img.png) no-repeat center;
    background-size: cover;
}

.logo{
    padding: 4px 120px;
    display: inline;
}
.nav{
    float: right;
}
.nav ul{
    margin: 33px 38px;
}
.nav ul li{
    font-size: 18px;
line-height: 25px;
    text-decoration: none;
    list-style: none;
    display: inline;
    margin-right: 83px;
}

.post{
    width: 998px;
    height: 1465px;
    margin: 85px 0 65px 119px;
}

.post>h1{
    font-family: Spectral SC;
font-style: normal;
font-weight: bold;
    font-size: 36px;
line-height: 55px;
}

.tag{
    font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: max-content;
    grid-gap: 18px;
    color: rgba(0, 0, 0, .7);
    margin-bottom: 50px;
}

.post_text{
    font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
}

.post>img{
    margin-top: 40px;
}

.des{
    font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 26px;
margin: 10px 0 40px;
}
.but{
    margin-top: 40px;
    display: block ruby;
}

.like{
    display: flex;
    width: max-content;
}

.like>img{
    
    transition: opacity .1s linear;
}

.like>img:hover{
    cursor: pointer;
    opacity: 0.7;
}

.num{
    font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 26px;
margin: 20px 0 0 14px;
}

.link{
    float: right;
}

.link>img{
    margin-left: 32px;
}

.more{
    display: flex;
    margin-top: 37px;
}

.more>h2{
    font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 49px;
margin-right: 26px;
}

.com{
    width: 793px;
    height: 816px;
    margin: 65px 0 95px 119px;
}

.comments{
    box-sizing: border-box;
    background: #ECE1E1;
    width: 793px;
    height: 429px;
    border-radius: 10px;
    padding: 49px 90px;
    display: grid;
    grid-template-rows: repeat (3,1fr );
}

.comment{
    position: relative;
}


.comment>h3{
    position: absolute;
    left: 10%;
    top: 12%;
font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 22px;
}

.comment>p{
    margin-top: 14px;
    font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
}

.comment_form{
    margin: 77px;

}
.comment_form>h2{
    font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 33px;
margin-bottom: 69px;
}

.form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 84px;
}

.form_1 input{
    outline: none;
    width: 221px;
    border: 0px;
    padding: 35px 0 15px;
    border-bottom:1px solid black;
    font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
}
.form_1 a{
    box-sizing: border-box;
    display: block;
    width: 221px;
    margin-top: 53px;
    font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
padding: 12px 58px;
border: 1px solid black;
border-radius: 10px;
cursor: pointer;
}

.form a:hover{
    transition: background .1s linear;
    background: #000;
    color: #fff;}

.form_2 input{
    width: 406px;
    height: 248px;
    border: 1px solid black;
    border-radius: 10px;
}

footer{
    
    margin-top: 81px;
    width: 100%;
height: 181px;
background: #D7D1C9;
}

footer >nav > ul{
    list-style: none;
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

footer> nav> ul> li{
padding: 65px 60px;
}


@media (max-width:1200px) {
    .logo {
        margin-left: 25px;
        padding: 5px 25px;
    }
    .nav ul {
        margin: 25px 20px;
    }
    .nav ul li {
        margin-right: 50px;
    }
    .nav ul li a {
        font-size: 16px;
    }
}

@media (max-width:768px) {
    .logo {
        display: none;
    }
    .nav {
        margin: 30px auto;
        float: left;
    }
    .nav ul {
        margin: 25px 70px;
    }
    .nav ul li {
        margin-right: 70px;
    }
    .post{
        width: 98%;
        height: max-content;
        margin: 0 10px;
    }
    .post>img{
        width: 100%;
    }
    .com{
        width: 98%;
        height: max-content;
        margin: 10px;
    }
    .comments{
        width: 747px;
    }
    .comment_form{
        margin: 0;
    }
}
